
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Amazing Fat Client Portfolio Builder</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <section id="navigation">
  </section>

  <section id="content">
    <!-- Backbone Output In Here ! -->
  </section>

  <section id="footer">
  </section>

  <%= javascript_include_tag "application" %>
</body>
</html>